<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-69EHJ9K7LX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-69EHJ9K7LX');
    </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5DMBGS2');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Presentation: {{ page.title }} - Jared Burrows</title>
    <meta name="description" content="My personal website that shows my presentations and links to my blog, Github, Twitter, LinkedIn and StackOverflow accounts.">
    <meta name="keywords" content="jared, burrows, personal, website, java, android">
    <link rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700&display=swap" type="text/css">
    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
    <link rel="stylesheet" href="/static/css/syntax.css" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% feed_meta %}
    <meta name="theme-color" content="#111111">

    <meta name="og:type" content="article">
    <meta name="og:updated_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    <meta name="og:title" content="Presentation: {{ page.title }}">
    <meta name="og:description" content="{{ content | strip_html | escape_once }}">
    <meta name="og:site_name" content="Jared Burrows">
    <meta name="og:url" content="{{ site.url }}{{ page.url }}">
    {% if page.youtube %}
    <meta name="og:image" content="http://img.youtube.com/vi/{{ page.youtube }}/maxresdefault.jpg">
    {% elsif page.speakerdeck %}
    <meta name="og:image" content="https://speakerd.s3.amazonaws.com/presentations/{{ page.speakerdeck }}/slide_0.jpg">
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jaredsburrows">
    <meta name="twitter:domain" content="jaredsburrows.com">
    <meta name="twitter:title" content="Presentation: {{ page.title }}">
    <meta name="twitter:description" content="{{ content | strip_html | escape_once }}">
    {% if page.youtube %}
    <meta name="twitter:image" content="http://img.youtube.com/vi/{{ page.youtube }}/maxresdefault.jpg">
    {% elsif page.speakerdeck %}
    <meta name="twitter:image" content="https://speakerd.s3.amazonaws.com/presentations/{{ page.speakerdeck }}/slide_0.jpg">
    {% endif %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:label1" content="Event">
    <meta name="twitter:data1" content="{{ page.event }} ({{ page.location }})">
    <meta name="twitter:label2" content="Date">
    <meta name="twitter:data2" content="{{ page.date | date:"%d %B %Y" }}">
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DMBGS2"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      <h1><a href="/">Jared Burrows</a></h1>
    </header>

    <div class="content presentation">
      <h2>{{ page.title }}</h2>
      <p class="date">{{ page.date | date:"%d %B %Y" }} &ndash; {% if page.homepage %}<a href="{{ page.homepage }}">{% endif %}{{ page.event }} ({{ page.location }}){% if page.homepage %}</a>{% endif %}</p>

      <section class="description">
        {{ content }}
      </section>

      {% if page.video %}
      <section class="video">
        <p>Video available at <a href="{{ page.video }}">{{ page.video }}</a>.</p>
      </section>
      {% endif %}
      {% if page.youtube %}
      <section class="youtube">
        <iframe src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
      </section>
      {% endif %}
      {% if page.vimeo %}
      <section class="vimeo">
        <iframe src="https://player.vimeo.com/video/{{ page.vimeo }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </section>
      {% endif %}
      {% if page.speakerdeck %}
      <section class="speakerdeck">
        <script async class="speakerdeck-embed" data-id="{{ page.speakerdeck }}" data-ratio="1.77777777777778" src="https://speakerdeck.com/assets/embed.js"></script>
      </section>
      {% endif %}
    </div>
  </body>
</html>
